.container {
  max-width: 1200rpx;
  margin: 0 auto;
  padding: 24rpx;
}

.profile {
  background: white;
  border-radius: 8rpx;
}

.header {
  text-align: center;
  padding: 24rpx 0 48rpx;
}

.header h2 {
  margin: 16rpx 0 8rpx;
}

.header p {
  color: #666;
}

.content {
  padding: 24rpx 0;
  min-height: 200rpx;
}
