.container {
  padding: 24rpx;
  background: white;
  border-radius: 8rpx;
}

.titleInput {
  margin-bottom: 24rpx;
  font-size: 24rpx;
}

.editor {
  min-height: 500rpx;
}

.saveButton {
  margin-top: 24rpx;
}
