.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24rpx;
  margin-right: 48rpx;
}

.menu {
  flex: 1;
  justify-content: flex-end;
}

.content {
  padding: 88rpx 48rpx 0;
  min-height: 100vh;
  background: #f0f2f5;
}
